<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <a routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item nav-link" >
      home 
    </a>
    <a
      routerLink="/form" 
      routerLinkActive="active" 
      class="nav-item nav-link">
      Form 
    </a>
    <a
      routerLink="/2048"
      routerLinkActive="active"
      class="nav-item nav-link">
      Jeu - 2048
    </a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
