<span *ngIf="!movie" class="movie-details">loading movie...</span>
<div *ngIf="movie" >
  <a routerLink="/">Back to movies</a>
  <h2>{{ movie.title }}</h2>
  <hr />
  <div class="movie-details">
    <img *ngIf="movie.poster_path" class="movie__image" src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" />
    <dl>
      <dt>Overview</dt>
      <dd>{{ movie.overview}}</dd>
      <dt>Adult</dt>
      <dd>{{ movie.adult }}</dd>
      <dt>Budget</dt>
      <dd>{{ movie.budget }}</dd>
      <dt>Original title</dt>
      <dd>{{ movie.original_title }}</dd>
      <dt>Release date</dt>
      <dd>{{ movie.release_date }}</dd>
    </dl>
  </div>
</div>
